@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif; 
}

/* ESTILOS HEADER */

.Header {
    background-color: #23232C;
    display: flex;
    justify-content: flex-end; /* Use space-between instead of flex-end */
    align-items: center;
    padding: 5px 15%;
  }
  
  .Header .logo {
    display: flex; 
    align-items: center;
    margin-right: auto;
    padding-top: 5px;
    
  }
  
  .Header .logo img {
    height: 5vh;
    margin-right: 5px;  
  }
  
  
  .Header .nav-links li {
    display: inline-block;
    padding: 0;
  }
  
  
  .Header .logo h1 {
    font-size: 1.8rem;
    color: white;
    margin: 0;
  }
  
  .Header .nav-links {
      list-style: none;
      padding: 0;
  }
  
  .Header .nav-links li {
      display: inline-block;
      padding: 0 10px;
  }
  
  .Header .nav-links li:hover {
      transform: scale(1.1);
  }
  
  .Header .nav-links a {
      color: rgb(255, 255, 255);
      text-decoration: none;
  }
  
  .Header .nav-links a:hover {
      color: aqua;
  }
  
  .Header .btn button,
  .Header .menu button {
      position: relative;
      font-weight: 800;
      color: rgb(0, 0, 0);
      padding: 13px 20px;
      margin-left: 15px;
      background: #ffffff;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  
  /**/.menu {
      display:none;
  }
  
  .Header .btn button:hover,
  /**/.header .menu button:hover{
      transform: scale(1.1);
      box-shadow: 0px 0px 14px 0px rgb(2, 255, 255);
      background-color: aqua;
  }
  
  
  /*nav estilos menu*/
  
  
  /**/@media screen and (max-width: 800px){
      .nav-links, .btn {
          display: none;
      }
      .menu {
          display: inherit;
      }
  }
  
  
  /*Nav Mobile*/
  
  .Header a{
      text-decoration: none;  
      /*borramos el que teniamos en .header .nav-links a*/ 
  }
  
  .Header .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      background-color: #423E4D;
      overflow: hidden;
      transition: all 0.3s ease 0s;
  }
  
  .Header .overlay .overlay-content{
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;    
  }
  
  .Header .overlay a{
      padding: 15px;
      font-size: 30px;
      display: block;
      transition: all 0.3s ease 0s;
      font-weight: 700;
      color: #ffffff;
  }
  
  .Header .overlay a:hover, 
  .Header .overlay a:focus{
      color: #8E7A91;
  }
  
  .Header .overlay .close{
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 65px;
  }
  
  @media screen and (max-height:450px) {
      .Header .overlay a{
          font-size: 20px;
      }
      .Header .overlay .close{
          font-size: 40px;
          top: 15px;
          right: 35px;
      }
  }

/*ESTILOS HOME*/

/* Estilos para la sección principal */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #23232C;
    height: 60vh;
}

.home .contenedor-perfil{
    text-align: center; /* Centra horizontalmente el contenido */
}

.home .contenedor-perfil .perfilimg{
    display: inline-block; /* Asegura que la imagen sea un bloque en línea */
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.home .contenedor-perfil img{
    margin-bottom: 20px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover; 
    object-position: center; 
    border: 4px solid #00eeff; 
    box-shadow: 0px 0px 20px 0px rgb(2, 255, 255);
}

.home .contenedor-perfil h1{
    font-size: 40px;
    color: #ffff;
    pointer-events: none; 
}

.home .contenedor-perfil h1 .highlight {
    color: #00eeff;
}

.home .contenedor-perfil p{
    font-size: 30px;
    color: #ffff;
    pointer-events: none; 
}

.home .contenedor-perfil .redes{
    text-align: center; /* Centra el texto de las redes sociales */
    margin-top: 5px;
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
}

.home .contenedor-perfil .redes a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 1px;
    transition: all 0.3s ease 0s;  
}

.home .contenedor-perfil .redes a:hover {
    color: #00eeff;
    transform: scale(1.1);
}

/*ESTILOS ACERCA DE*/
/*ESTILOS DEL RESTO *//*https://www.youtube.com/watch?v=2s19KJq49rQ&t=19s= de este video copie el estilo*/

.Acerca-de{
    background-color: #423E4D;
}


.sobremi{
    background-color: #423E4D;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}

.sobremi .free{
    color: #000000;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #00eeff;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #00eeff;
    width: 230px;
}
.sobremi .fila .col ul li span{
    background-color: #00eeff;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #23232C;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    transform: scale(1.1);
    background-color: #00eeff;
    box-shadow: 0px 0px 15px 0px rgb(2, 255, 255);
    color: #000000;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 16px;
    color: #000000;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.sobremi button:hover{
    transform: scale(1.1);
    background-color: #00eeff;
    box-shadow: 0px 0px 15px 0px rgb(2, 255, 255);
    
}

/* SECCION S K I L L S */
.skills{
    background-color: #23232C;
    color: #000000;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;

}

.skills span{
    color: #ffffff;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
    color: #ffffff;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #00eefff1;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #00eeff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
    color: #000000;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 30%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .jimdo{
    width: 0%;
    animation: 2s jimdo forwards;
}
@keyframes jimdo {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .uiux{
    width: 0%;
    animation: 2s uiux forwards;
}
@keyframes uiux {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 80%;}
}

/* SECCION CURRICULUM */
.curriculum{
    background-color: #423E4D;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #00eeff;
}
.curriculum .fila .derecha{
    border-left: 2px solid #00eeff;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #23232C;
    position: relative;
    border-radius: 5PX;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #00eeff;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #00eeff;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #00eeff;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #00eeff;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #00eeff;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00eeff;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #00eeff;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00eeff;
    float: left;
    position: relative;
    bottom: 4px;
}

.footer {
    text-align: center; /* Para centrar el contenido */
    background-color: #23232C; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
}


/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #00f7ff; /* Color del thumb de la barra de desplazamiento */
    border-radius: 10px; /* Radio de la esquina del thumb */
    z-index: 9999; /* Superpone el thumb sobre la página */
}

::-webkit-scrollbar-thumb:hover {
    background: #00b3b3; /* Color del thumb cuando se pasa el ratón sobre él */
}
