/*responsive header*/
@media only screen and (max-width: 768px) {
    .Header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .Header .logo {
        margin-right: 2px;
        margin-bottom: -10px; /* Añade espacio entre el logo y el menú */
    }

    .Header .nav-links {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -10px; /* Añade espacio entre los enlaces y el botón */
        margin-right:2px;
    }

    .Header .nav-links li {
        padding: 5px 0;
        margin: 0 5px; /* Añade espacio entre las palabras del navegador */
    }

    .Header .nav-links a {
        display: block;
    }

    .Header .btn {

        margin-top: 15px;
        margin-bottom: 5px;
    }

    /*responsive separador*/

.separador {
    width: 300px;
    margin-left: 100px;
}

}


/*responsive pefil*/

/* Consulta de medios para hacer el diseño responsive */
@media screen and (max-width: 768px) {
    .Acerca-de .contenedor-perfil .perfilimg {
        width: 150px; /* Reducir el tamaño de la imagen en dispositivos con un ancho máximo de 768px */
        height: 150px;
        margin-top: 30px; /* Ajustar el margen superior de la imagen */
        margin-left: -50px;
    }

    .Acerca-de .contenedor-perfil .text {
        padding: 10px 10%; /* Reducir el relleno del texto */
        font-size: 30px; /* Reducir el tamaño del texto */
        margin-bottom: 3rem; /* Ajustar el margen inferior del texto */
    }

    .Acerca-de .contenedor-perfil .redes {
        font-size: 1rem; /* Reducir el tamaño de la fuente de las redes sociales */
        margin-top: 5px; /* Ajustar el margen superior de las redes sociales */
    }
}


/*responsive sobre mi*/

@media screen and (max-width: 768px) {
    .sobremi .contenido-seccion p {
        font-size: 16px; /* Reducir el tamaño de la fuente del texto en dispositivos pequeños */
        line-height: 20px; /* Reducir la altura de línea del texto */
        text-align: center;
    }

    .sobremi .fila {
        flex-direction: column; /* Cambiar la dirección a columna en dispositivos pequeños */
    }

    .sobremi .fila .col {
        width: 100%; /* Ocupar todo el ancho en dispositivos pequeños */
    }

    .sobremi .fila .col .contenedor-intereses {
        flex-direction: column; /* Cambiar la dirección de los intereses a columna */
        align-items: flex-start; /* Alinear los elementos a la izquierda */
    }

    .sobremi .fila .col .contenedor-intereses .interes {
        width: 100%; /* Ocupar todo el ancho disponible en dispositivos pequeños */
        max-width: none; /* Quitar la limitación del ancho máximo */
        margin: 10px 0; /* Ajustar el margen entre los elementos */
    }
}


/*responsive slkills*/

@media screen and (max-width: 768px) {
    .skills .fila {
        flex-direction: column; /* Cambiar la dirección a columna en dispositivos pequeños */
        align-items: center; /* Centrar los elementos horizontalmente */
    }

    .skills .fila .col {
        width: 100%; /* Ocupar todo el ancho en dispositivos pequeños */
        padding: 0; /* Eliminar el relleno para dispositivos pequeños */
        text-align: center; /* Centrar el texto dentro de las columnas */
    }

    .skills .skill .barra-skill{
        margin-left: 50px;
    }

    .skills span{
        margin-left: 50px;
    }
    .skills .skill {
        margin-bottom: 20px; /* Añadir espacio entre las habilidades en dispositivos pequeños */
        text-align: left; /* Centrar el texto dentro de las habilidades */

    }
}

/*responsive curriculom*/

@media screen and (max-width: 768px) {
    .curriculum .fila {
        flex-direction: column; /* Cambiar la dirección a columna en dispositivos pequeños */
    }

    .curriculum .fila .col {
        width: 100%; /* Ocupar todo el ancho en dispositivos pequeños */
        padding: 0; /* Eliminar el relleno para dispositivos pequeños */
    }

    .curriculum .fila .izquierda,
    .curriculum .fila .derecha {
        border: none; /* Eliminar los bordes laterales en dispositivos pequeños */
        margin: 0; /* Eliminar el margen lateral en dispositivos pequeños */
    }

    .curriculum .fila .item {
        margin-bottom: 20px; /* Añadir espacio entre los elementos en dispositivos pequeños */
    }

    .curriculum .fila .item .conectori,
    .curriculum .fila .item .conectord {
        display: none; /* Ocultar los conectores en dispositivos pequeños */
    }
}
