/*responsive header*/
@media only screen and (max-width: 768px) {
    .Header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .Header .logo {
        margin-right: 2px;
        margin-bottom: -10px; /* Añade espacio entre el logo y el menú */
    }

    .Header .nav-links {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: -10px; /* Añade espacio entre los enlaces y el botón */
        margin-right:2px;
    }

    .Header .nav-links li {
        padding: 5px 0;
        margin: 0 5px; /* Añade espacio entre las palabras del navegador */
    }

    .Header .nav-links a {
        display: block;
    }

    .Header .btn {

        margin-top: 15px;
        margin-bottom: 5px;
    }
}


/* Consultas de medios para hacer el diseño responsive */
@media screen and (max-width: 768px) {
    .container-proyecto {
        width: 100%; /* Ancho del 90% de la pantalla para dispositivos con un máximo de 768px de ancho */
    }

    .box-container {
        display: block; /* Cambiar a un diseño de bloque para dispositivos móviles */
        margin: 10px auto; /* Centrar los elementos en dispositivos móviles */
    }

    .box {
        width: 90%; /* Ancho del 100% para que las cajas ocupen todo el ancho en dispositivos móviles */
        
    }
}



/*Responsive footer */

@media only screen and (max-width: 768px) {
    footer {
        height: auto;
        padding: 20px 0; /* Reducir el padding */
    }

    .redes-sociales {
        font-size: 1rem; /* Reducir el tamaño del texto */
    }
}