/* Media queries para hacer la sección responsive */
@media screen and (max-width: 768px) {
    .home {
        height: auto;
        padding: 20px;
    }

    .perfilimg, .contenedor-perfil img {
        width: 160px !important;
        height: 160px !important;
    }

    .contenedor-perfil h1 {
        font-size: 25px !important;
    }

    .contenedor-perfil p {
        font-size: 20px !important;
    }
}


/* Media queries para hacer la sección responsive */
@media screen and (max-width: 768px) {
    .portafolio{
        height: auto !important;
        padding-bottom: 40px;
    }

    .portafolio h1 {
        font-size: 30px !important; /* Reducimos el tamaño de la fuente para dispositivos más pequeños */
    }
    
    .portafolio .container .card {
        max-width: 70% !important; /* Hacemos que las tarjetas ocupen el ancho completo en dispositivos más pequeños */
    }

}

/* Media queries para hacer la sección responsive */
@media screen and (max-width: 768px) {
    .sobremi{
         height: auto !important;
         width: 100%;
    }

    .sobremi .main{
        width: 90% !important;
        flex-direction: column; /* Cambiamos la dirección del flujo a columna para*/ 
        align-items: center; /* Centramos los elementos horizontalmente */
    }
    
    .sobremi img {
        height: 160px !important; /* Hacemos que la altura de la imagen se ajuste automáticamente */
        width: 160px !important; /* Hacemos que la imagen ocupe el ancho completo del contenedor */
        border-radius: 100% !important; /* Eliminamos el radio de borde para que la imagen se ajuste completamente */

    }

    .sobremi .main .text {
        width: 95% !important;
        margin: 5px 0; /* Reducimos el margen del texto */
        
    }

    .sobremi .text h2 {
        font-size: 30px !important; /* Reducimos el tamaño de la fuente del título */
        text-align: center; /* centramos texto */
    }

    .sobremi .text p {
        font-size: 20px !important; /* Reducimos el tamaño de la fuente del párrafo */
        text-align: justify; /* justificamos texto */
    }

    .sobremi .btn {
        padding: 10px 20px; /* Reducimos el relleno del botón */
        font-size: 13px; /* Reducimos el tamaño de la fuente del botón */
        display: block; /* Aseguramos que el botón sea un bloque para que ocupe todo el ancho disponible */
        margin: 20px auto; /* Centramos el botón horizontalmente */
    }
}

@media screen and (max-width: 768px) {

    .contactame{
      width: 100% !important;
    }

    .contactame .contenedor-contacto{
        width: 95% !important;
    }

    .contactame .contenedor-contacto .contact{
        grid-template-columns:1fr !important;
        width: 90% !important;
        align-items: center;
    }

    .contactame .contenedor-contacto .contacto .contact-form{ 
       width: 90% !important;
       align-items: center;
    }

     .contactame .contenedor-contacto .contacto .contact-info{ 
       width: 90% !important;
       align-items: center;
    }

    .contactame h2{
        font-size: 35px !important ;
    }
}



