@media screen and (max-width: 768px) {
    /* Estilos generales para dispositivos pequeños */
    .home {
        height: auto;
        padding: 20px;
    }

    .perfilimg, .contenedor-perfil img {
        width: 150px !important;
        height: 150px !important;
    }

    .contenedor-perfil h1 {
        font-size: 20px !important;
    }

    .contenedor-perfil p {
        font-size: 15px !important;
    }

    .footer {
        font-size: 12px;
    }

    /* Estilos específicos para secciones */
    .sobremi .contenido-seccion{
        width: 95% !important;
    }

    .skills .contenido-seccion{
        width: 95% !important;
    }

    .sobremi .fila,
    .skills .fila,
    .curriculum .fila {
        flex-direction: column;
    }

    .sobremi .fila .col h3,
    .skills .fila .col h3,
    .curriculum .fila .col h3 {
        font-size: 25px;
        text-align: center;
    }

    .sobremi .fila .col,
    .skills .fila .col,
    .curriculum .fila .col {
        width: 100px !important;
    }

    .sobremi .contenedor-intereses,
    .skills .skill .barra-skill,
    .curriculum .fila .col {
        width: 200%;
    }

    .skills .skill .barra-skill{
        width: 300px !important;
    }

    .skills .fila .col h3{
        font-size: 20px !important;
        text-align: left !important;
        
    }


    .curriculum .contenido-seccion{
        width: 95% !important;
    }

    .curriculum h2 {
        font-size: 35px !important;
    }

    .curriculum .fila .col h3{
        font-size: 20px !important;
        text-align: left;
        width: px !important;
    }

    .curriculum .fila .col {
        width: 10%;
        padding: 0;
    }

    .curriculum .fila .izquierda,
    .curriculum .fila .derecha {
        border: none;
        margin: 0;
    }

    .curriculum .fila .derecha {
        margin-left: -20px;
    }

    .curriculum .fila .derecha h3 {
        margin-left: 20px;
    }

    .curriculum .fila .item {
        margin-bottom: 20px;
        width: 300px;
    }

    .curriculum .fila .item .conectori,
    .curriculum .fila .item .conectord {
        display: none;
    }

    .curriculum .fila .izquierda{
        border: none !important;
    }
    .curriculum .fila .derecha{
        border: none !important;
    }

    /* Personalización de la barra de desplazamiento */
    ::-webkit-scrollbar-thumb {
        display: none ;
    }

    ::-webkit-scrollbar {
        width: 1px;
    }
}
